
<!-- including header content which is common for all pages 

<%- include layouts/header.ejs %>   --> 
 

<!-- including footer content which is common for all pages 
<%- include layouts/footer.ejs %>
-->
<title><%= title %></title>
<h1><%= title %></h1>
<h2>  Not yet Registered ? <a href="/users/add" >Click Here.</a></h2>
<h2>  For Login <a href="/users/login" >Click Here.</a></h2>

 

